body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* custom css */
.mt2 {
  margin-top: 20px;
}
.main {
  background: #e7e7e7; /* Old browsers */
  background: -moz-linear-gradient(top, #e7e7e7 0%, #f4f4f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e7e7e7 0%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e7e7e7 0%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
.main .form-button .btn-toolbar button {
  border: 1px solid #cccccc;
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top, #fdfdfd 0%, #e0e0e0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fdfdfd 0%,#e0e0e0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fdfdfd 0%,#e0e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e0e0e0',GradientType=0 );
  margin-right: 5px;
  position: relative;
}
.main .form-button .btn-toolbar button:after {
  content: "";
  position: absolute;
  box-shadow: 0 0 0 0.2rem rgb(117, 170, 227);
  border-color: #75AAE3;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
}
.main .form-button .btn-toolbar button:focus:after,
.main .form-button .btn-toolbar button.active:after{
  opacity: 1;
}
.main .form-button .btn-toolbar button:focus,
.main .form-button .btn-toolbar button.active {
  box-shadow: none;
  border-color:#75AAE3;
}
.main .data-head {
  background: #e6e6e6; /* Old browsers */
  background: -moz-linear-gradient(top, #E8E8E8 0%, #f2f2f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #E8E8E8 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #E8E8E8 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E8E8', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  box-shadow: inset 0px 5px 7px -5px #cecece;
  border: 1px solid #DCDCDC;
  padding: 20px;
  border-radius: 4px;
}
.main .data-head .data-list {
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: inset 0px 5px 8px -5px #cecece;
  border: 1px solid #DCDCDC;
  word-break: break-all;
  border-radius: 4px;
}
.main .data-head .data-list a {
  color: #3877B0;
}
.main .list-detail span {
  color: #333333;
}

/* Filters Cat */
.pl1 {
  padding-left: 10px;
}
.pr1 {
  padding-right: 10px;
}
.pt1 {
  padding-top: 10px;
}
.pb1 {
  padding-bottom: 10px;
}
.filter_card {
  background: #EEEEEE;
  padding: 15px;
}

.filter-recent {
  background: #FFFFFF;
  border: 2px solid #595959;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}
.filter-recent button {
  border: 2px solid #595959;
  background: #EFEFEF;
  border-radius: 10px;
  width: 48%;
  margin-right: 4%;
  padding: 16px;
  font-size: 16px;
  line-height: 14px;
  color: #000;
  cursor: pointer;
  outline: 0;
}
.filter-recent button:last-child {
  margin-right: 0;
}

.filter-deta .filter-deta-scrolling {
  padding: 10px;
  border: 2px solid #595959;
  height: 100%;
  min-height: 86vh;
}

.card-box-wrapper {
  border: 2px solid #595959;
  border-radius: 20px;
  background: #FFFFFF;
  padding: 15px;
}
.card-box-wrapper .card-head h4 {
  text-align: center;
  margin-bottom: 0;
}
.card-box-wrapper .card-item .card-list {
  border: 2px solid #595959;
  background: #EFEFEF;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  line-height: 14px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
}
.card-box-wrapper .card-item {
  text-align: center;
}
.middle-bar {
  margin-top: 50px;
}
.main .list-detail {
  background: #e7e7e7; /* Old browsers */
  background: -moz-linear-gradient(top, #e7e7e7 0%, #f2f2f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e7e7e7 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e7e7e7 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  padding: 20px;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  box-shadow: inset 0px 5px 8px -4px #cecece;
}

@media screen and (max-width: 767px){
  .main .data-head .data-list { text-align: center}
  .main .data-head .data-list span:first-child {
    display: block;
  }
}